# Node
node_modules/
target/
dist/
.env
.env.*

# Tauri
src-tauri/target/
src-tauri/Cargo.lock

# Logs
*.log

# OS
.DS_Store
Thumbs.db
src-tauri/config/app_config.backup.json
src-tauri/config/app_config.json
src-tauri/restrike_vta.db*
